@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.body-container {
  display: flex;
}

.side-bar {
  width: 305px;
  height: 92vh;
  position: fixed;
  background-color: #fff;
  -webkit-transition: 0.3s all;
}

.side-bar-inactive {
  width: 177px;
  height: 92vh;
  margin-left: -180px;
  -webkit-transition: 0.3s all;
}

.main-contents {
  padding: 50px;
  width: 100%;
  /* background-color: rgb(19, 58, 58); */
  background-color: rgb(234, 237, 237);
  /* background-color: rgb(56, 51, 43) !important; */
  height: 100vh;
}

.midContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
